<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe Finder</title>
    <!-- Add Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container">
    <h1 class="my-5 text-center">Find Recipes by Ingredients</h1>

    <!-- Recipe Search Form -->
    <form method="POST" class="my-4">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.ingredients.label(class="form-label") }}
            {{ form.ingredients(class="form-control") }}
        </div>
        <button type="submit" class="btn btn-primary btn-lg">Get Recipes</button>
    </form>

    <!-- Display Recipes -->
    {% if recipes %}
        <h2 class="my-4">Recipe Suggestions</h2>
        <div class="row">
            {% for recipe in recipes %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <img src="{{ recipe.image }}" class="card-img-top" alt="{{ recipe.title }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ recipe.title }}</h5>
                            <a href="https://spoonacular.com/recipes/{{ recipe.title | replace(' ', '-') }}-{{ recipe.id }}" class="btn btn-info" target="_blank">View Full Recipe</a>

                            <!-- Save Recipe Form -->
                            <form action="{{ url_for('save_recipe', recipe_id=recipe.id) }}" method="POST" class="mt-2">
                                <input type="hidden" name="recipe_title" value="{{ recipe.title }}">
                                <input type="hidden" name="recipe_image" value="{{ recipe.image }}">
                                <input type="hidden" name="recipe_url" value="https://spoonacular.com/recipes/{{ recipe.title | replace(' ', '-') }}-{{ recipe.id }}">
                                <button type="submit" class="btn btn-success btn-block">Save Recipe</button>
                            </form>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p class="text-center">No recipes to display. Please enter ingredients to search for recipes.</p>
    {% endif %}
</div>

<!-- Add Bootstrap JS and dependencies -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
